$background-navy-black: #000C14; /*main background*/
$navbar-teal-navy: #031821; /*navbar background*/
$card: #07252E; /*deep teal - card color*/
$border: #214d62; /*muted teal - border color*/ 
$main-accent: #3ac6da; /*main accent color*/
$bright-accent: #00d9f5; /*neon cyan - bright accent color*/
$secondary-accent: #287C96; /*dark cyan - secondary accent color*/
$main-text: #ebeef2; /*cold white - main text color*/
$paragraph-text: #9DA3A6; /*cold gray - paragraph text color*/
$muted-text: #6C8088; /*muted gray - muted text color*/